<div class="container">
    <div class="input-container" [class.loading]="loading === true">
        <h2 class="title">Reset your password</h2>
        <div class="user-div">
            <img src="{{user.image}}" alt="user image">
            <p>{{user.email}}</p>
        </div>
        <form [formGroup]="newPasswordForm" class="input-form">
            <div class="password-div">
                <input class="input-field" name="password" id="password" autocomplete="current-password"
                    [class.wrongPassword]="passwordMatched === false" type="password" placeholder="Enter new password"
                    required formControlName="password">
                <input class="input-field" name="confirm-password" id="confirmPassword" autocomplete="current-password"
                    [class.wrongPassword]="passwordMatched === false" type="password" placeholder="Confirm new password"
                    required formControlName="confirmPassword">

                    <small *ngIf="errorText">
                        {{errorText}}, Redirecting
                    </small>
                    <small *ngIf="!passwordMatched && !errorText">
                        Passwords do not match
                    </small>
            </div>

            <div class="buttons-div">
                <button (click)="changePassword()" [disabled]="newPasswordForm.invalid"
                    [class.disabled-btn]="newPasswordForm.invalid" class="login-btn btn">
                    Confirm
                </button>
            </div>

        </form>
    </div>
</div>